body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;   
    
    
}
.container{
    background:#ffffff;
}

h1{
   background:#4aaaa5;   
   text-align:center;
}
h2{
    text-align:center;
    color:blueviolet;
    text-shadow: 2px 2px #ff0000;
}
.theme h2{
  position:absolute;
  top: 20%;
  left:30%
}
h3{
    color:blue
}

.letter {
    display: inline-block;
    color: transparent;
    border-bottom: 5px solid blue;
    margin: 0 10px;
    font-size: 50px;
    padding: 10px;
    transition: .5s;
    text-transform: uppercase;
    text-align: center;
}

#guess-word{
    text-align: center;
}
#remain-guess{
    color:blue;
    font-size:50px;
    text-align:center;
}