body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;   
    
    
}
.container{
    background:#ffffff;
}

h1, .score{
   background:#4aaaa5;   
   text-align:center;
}
h2{
    text-align:center;
    color:rgb(226, 43, 43);
    text-shadow: 2px 2px #a6ff009f;
}
.theme h2{
  position:absolute;
  top: 20%;
  left:10%;
  animation-name: fadein, move;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  
    
}
h3,h5{
    color:blue
}


.letter {
    display: inline-block;
    color: blue;
    border-bottom: 5px solid blue;
    margin: 0 10px;
    font-size: 20px;
    padding: 10px;
    transition: .5s;
    text-transform: uppercase;
    text-align: center;
}

#guess-word, #letter-guessed{
    text-align: center;
}
#remain-guess, #result-set{
    color:blue;
    font-size:20px;
    text-align:center;
}

@keyframes fadein {
    0%,50% {
        opacity: 0.5;
  }
      100%{
        opacity: 1;
    }
}
@keyframes move{
0%{
    transform: translateY(80px); 
 }
 100%{transform: translateY(-80px);

 }}
